@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply text-white bg-primaryColor tracking-wider font-dmsans dark:bg-darkColor;
  }

  section {
    @apply pt-16 pb-4 md:pt-20;
  }
}

@layer utilities {
  .app-title,
  .sec-title {
    @apply text-4xl font-oswald font-bold uppercase lg:text-6xl;
  }

  .sec-title {
    @apply text-3xl;
  }
  .seperator {
    @apply w-28 h-[2px] bg-secondaryColor my-5;
  }
  .para {
    @apply text-white text-xs leading-5;
  }
  .title {
    @apply mb-2 font-oswald font-bold uppercase text-xl;
  }
}
